.popup {
    position: fixed;
    justify-content: center;
    height: 100%;
    margin: auto;
    width: 50%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    /* margin: 10% auto; */
    /* padding: 20px; */
    border: 1px solid #888888;
    /* width: 30%; */
    font-weight: bolder;
    float: left;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
h1 {
    color: green;
}


.cross {
    float: right;
}